# This is a basic workflow to help you get started with Actions

name: CI build

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

#env:
#    BOOST_ROOT : "/usr/local/share/boost/1.69.0" 
#    Boost_INCLUDE_DIR : "/usr/local/share/boost/1.69.0/libs/headers"

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-20.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    
    - name: update package lists
      if: runner.os == 'Linux'
      run: |
        sudo apt-get update
    - name: ubuntu install depends
      if: runner.os == 'Linux'
      run: |
        sudo apt-get install -f build-essential flex bison cmake libboost-all-dev libfl-dev git
    - name: Build 
      uses: lukka/run-cmake@v2.5
      with:
        cmakeListsOrSettingsJson: CMakeListsTxtBasic
        #cmakeListsTxtPath: "${{ github.workspace }}/CMakeLists.txt"
        cmakeAppendedArgs: '-DAALWINES_BuildBundle=On -DAALWINES_GetDependencies=On -DAALWINES_BuildTests=On -DBUILD_TESTING=On'
        cmakeBuildType: Release
        cmakeGenerator: UnixMakefiles
        buildDirectory: '${{runner.workspace}}/build'     
    - name: Upload artifacts 
      uses: actions/upload-artifact@v2
      with:
        name: AalWiNes-bin
        path: '${{runner.workspace}}/build/bin/aalwines'
